<div class="row-fluid" style="padding-top: 10px">
    <div class="span2">
    </div>

    <div class="span8">
        <div class="{{message.class}}">
            {{message.text}}
        </div>
        <div class="row-fluid">
            <div>
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">{{typeString}}</button>
                        <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"
                                   onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;"
                                   ng-click="typeString='新车销售台账';refreshList('vehicle')">新车销售台账</a>
                            </li>
                            <li>
                                <a href="#"
                                   onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;"
                                   ng-click="typeString='售后台账';refreshList('postSales')">售后台账</a>
                            </li>
                        </ul>
                    </div>
                    <select style="margin-top: 10px" ng-model="dealer" ng-if="userService.validateRoleHead()"
                            ng-options="d.name for d in dealers" ng-change="refreshList()">
                    </select>
                </div>

                <div class="pull-right">
                    <button class="btn btn-info" type="button" ng-click="showSearchForm()"><i class="icon-search"></i>
                        高级查询
                    </button>
                    <a href="#/machineAccount/{{type}}/add" class="btn btn-primary" type="button"
                       ng-click="showNewForm()"><i class="icon-plus"></i> 添加台账</a>
                </div>
            </div>
        </div>

        <div style="padding-top: 40px" class="animated fadeIn">
            <div class="row-fluid" ng-repeat="summary in list">
                <div class="span12">
                    <div style="padding-bottom: 3px">
                        <a href="#/machineAccount/{{summary[0]}}" style="font-size: 15px;text-decoration: none;">
                            <span ng-if="type == 'vehicle'">合同号：</span>
                            <span ng-if="type == 'postSales'">工单号：</span>
                            {{summary[0]}}</a>
                    </div>
                    <table class="table table-hover table-bordered" style="font-size: 12px">
                        <tdead>
                            <tr ng-if="type == 'vehicle'">
                                <td>合同号</td>
                                <td>车型</td>
                                <td>型号</td>
                                <td>颜色</td>
                                <td>车牌号</td>
                                <td>车架号</td>
                                <td>主机厂扣款日期</td>
                                <td>入库日期</td>
                                <td>销售日期</td>
                                <td>指导价格</td>
                                <td>客户姓名</td>
                                <td>身份证号或组织机构代码证号</td>
                                <td>销售顾问</td>
                                <td>客户性质</td>
                            </tr>
                            <tr ng-if="type == 'postSales'">
                                <td>工单号</td>
                                <td>购车日期</td>
                                <td>行驶里程</td>
                                <td>车牌号</td>
                                <td>客户姓名或单位</td>
                                <td>颜色</td>
                                <td>车架号</td>
                                <td>车型</td>
                                <td>进厂日期</td>
                                <td>出厂日期</td>
                                <td>客户类型</td>
                                <td>承保公司</td>
                                <td>保险到期日期</td>
                                <td>本保险年度出险次数</td>
                            </tr>
                        </tdead>
                        <tbody>
                        <tr class="success">
                            <td ng-repeat="value in summary track by $index">{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="!state.loading && list.length == 0" style="text-align: center;font-size: 15px;color: #808080;padding-top: 15%">
                查无台账
            </div>

            <div style="margin: 5px;width: 100%" ng-if="list.length > 0">
                <div>
                    <div>
                        <button ng-if="state.hasMore" class="btn btn-primary btn-sm" style="float: none;width: 100%"
                                ng-click="showMore()" ng-disabled="state.loading">
                            <i class="icon-plus icon-white"></i> <span>{{ !state.loading ? '加载等多' : '加载中...' }}</span>
                        </button>
                    </div>
                    <div class="clearfix" style="margin: 5px"></div>
                    <div class="pull-right" style="padding-right: 3%">
                        <span style="vertical-align:middle;color: grey;font-size: 15px"><strong>当前数量：{{list.length}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="span2">
    </div>
</div>
