<div id="report_div" class="span9 row-fluid" style="padding-left: 60px" ng-controller="overallPercentageCtrl">
    <div class="span11">
        <div>
            <div id="date_div" style="padding-bottom: 10px">
                <div>
                    <select data-width="100px" ng-options="o.name for o in yearOptions" ng-model="selectedYearOption"
                            ng-change="selectReportYear()"></select>
                    <select data-width="100px" ng-options="o.name for o in monthOptions" ng-model="selectedMonthOption"
                            ng-change="selectReportMonth()"></select>
                </div>
            </div>
            <div style="padding-bottom: 10px">
					<span ng-repeat="chart in charts">
						<input type="checkbox" ng-model="chart.display" ng-click="showReport()"
                               ng-show="chart.checkboxDisplay"><span
                            ng-show="chart.checkboxDisplay">{{chart.text}}</span>
					</span>
            </div>
            <div>
                <select data-width="100px" ng-options="o.name for o in denominatorOptions"
                        ng-model="selectedDenominatorOption" ng-change="selectReportDenominotor()"></select>
            </div>

            <div style="padding-bottom: 10px">
                <button class="btn btn-success" type="button" ng-click="toggleFullScreen();isFullScrren=!isFullScrren">
                    {{isFullScrren? '取消全屏': '全屏'}}
                </button>
            </div>

        </div>

        <div id="chartsDisplay" ng-repeat="chart in charts">
            <div id="{{chart.id}}" ng-show="chart.display">
            </div>
        </div>
    </div>
</div>