<div id="report_div" class="span9 row-fluid" style="padding-left: 60px" ng-controller="overallRevenueCtrl">
        <div class="span11">
            <div>
            	<div id="date_div" style="padding-bottom: 10px">
		            <div>
		                <select ng-options="o.name for o in yearOptions" ng-model="selectedYearOption" ng-change="selectReportYear()"></select>
		            </div>
	            </div>
				<div style="padding-bottom: 10px">
					<span ng-repeat="chart in charts">
						<input type="checkbox" ng-model="chart.display" ng-click="showReport()"><span>{{chart.text}}</span>
					</span>
				</div>
						
		       <div style="padding-bottom: 10px">
		       	<button class="btn btn-success" type="button" ng-click="toggleFullScreen()">全屏</button>
		       </div>
            </div>

			<table id="report_list"></table>
			<div id="report_pager"></div>

			<div id="chartsDisplay">
				<div id="report_chart">
	            </div>
			</div>
		
		</div>
        
</div>