/* app css stylesheet */
h4 {
    font-size: 16px;
    cursor: pointer;
}

label {
    font-size: 13px;
}

td{
    font-size: 13px;
    padding-bottom: 8px
}

.well {
    margin-bottom: 0px;
}

section {
    padding-bottom: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.full{
    position: absolute;
    top: 0;
    left: 0;
}

.item_tr{
    padding-top: 10px;
}

.hide{
    display: none;
}

input.ng-invalid {
    border: 1px solid darkred;
}
input.ng-valid {
    border: 1px solid green;
}
.green{
    color: green;
}

.red{
    color: darkred;
}

form{
    margin-bottom: 0px
}

.accordion-heading .accordion-toggle {
    padding: 6px 10px 6px 10px;
}

.accordion-inner {
    padding: 3px;
}

.accordion-inner li {
    line-height: 18px;
    height: 25;
}

.ui-datepicker-calendar {
    display: none;
}

.ui-tooltip, .qtip{
    max-width: 500px; /* Change this? */
    min-width: 50px; /* ...and this! */
}

.qtip-content div div div{
    width: 470px;
}

.qtip-content div div div table {
    width: 460px;
    table-layout:fixed
}
.qtip-content .hidden {
    display:block;
    visibility: visible;
}

.input_1 {
    width: 70%;
}

.input_2 {
    width: 75%;
    font-size: 12px;
}

.input_3 {
    width: 60%;
    font-size: 12px;
}

.machine_acclount_header {
    cursor: pointer;
    border-bottom: solid 1px #DDD;
}

.machine_account_table  td{
    border-top: 0;
    width: 25%;
}

.scroll-nav {
    position: absolute;
}

.scroll-nav.fixed .scroll-nav__wrapper {
    position: fixed;
    top: 60px;
}

.unstyled-list, .scroll-nav__list, .all-yours, .features-list {
    padding-left: 0;
    list-style: none;
}

.scroll-nav__item {
    line-height: 25px;
}

.scroll-nav__item:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f10c";
    color: #666;
    font-size: 12px;
    padding-right: 5px;
}

.scroll-nav__item.in-view {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    font-weight: 600;
    color: #000000;
}

.scroll-nav__item.in-view:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f140";
}

.scroll-nav__item a {
    font-size: 13px;
    text-decoration: none;
    color: #666;
}

.D20_table td, th{
     width: 25%;
}