<div >
	<div class="accordion affix" id="accordion2">
	   <div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		            关键指标总览 <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapseOne" class="accordion-body in collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px;">
		                <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li class="active">
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－本年度税前净利润')">本年度税前净利润</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－本年度总运营利润')">本年度总运营利润</a>
		                    </li>
		        		    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－月均运营利润占销售金额百分比')">月均运营利润占销售金额百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－月均运营利润占毛利百分比')">月均运营利润占毛利百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－到期未缴总额占百分比')">到期未缴总额占百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－固定部门运营利润毛利润百分比')">固定部门运营利润毛利润百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－售后部门运营利润毛利润百分比')">售后部门运营利润毛利润百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('关键指标总览－售后部门销售金额毛利润百分比')">售后部门销售金额毛利润百分比</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		            总运营 <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px;">
		                <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li class="active">
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)总营业额')">(本年度)总营业额</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)经销商总毛利')">(本年度)经销商总毛利</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)经销商总费用')">(本年度)经销商总费用</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)总运营利润')">(本年度)总运营利润</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)非销量返利')">(本年度)非销量返利</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－(本年度)非经营性损益')">(本年度)非经营性损益</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－营业额、毛利、费用、运营利润、税前净利润')">营业额、毛利、费用、运营利润、税前净利润</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－销售、毛利占百分比')">销售、毛利占百分比</a>
		                    </li>
		        		    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－费用占百分比')">费用占百分比</a>
		                    </li>
		                    <li class>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('总运营－人员分析')">人员分析</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsThree">
		        	分运营 <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapsThree" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('分运营－经销商部门收入、毛利、费用、运营利润')">经销商收入、毛利、费用、运营利润</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('分运营－部门收入、毛利、费用、运营利润')">部门收入、毛利、费用、运营利润</a>
		                    </li>
		                    <li>
		                        <a href="#"  onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('分运营－各经销商部门收入、毛利、费用、运营利润')">各经销商部门收入、毛利、费用、运营利润</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('分运营－各部门毛利、运营利润占百分比')">各部门毛利、运营利润占百分比</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
		    <div class="accordion-heading">
		        <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFour">
		        	销售部 <i class="icon-chevron-right  pull-right"></i>
		        </a>
		    </div>
		    <div id="collapsFour" class="accordion-body collapse">
		        <div class="accordion-inner">
		            <div style="margin-left:30px">
		                <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('销售部－销量 – 总量')">销量 – 总量</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('销售部－销量')">销量</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('销售部－总销量占百分比')">总销量占百分比</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('销售部－部门销量占百分比')">部门销量占百分比</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsFive">
		        	资产管理--应收账款 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsFive" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('应收账款－应收帐款总额')">应收帐款总额</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('应收账款－售前应收总额')">售前应收总额</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('应收账款－售后应收总额')">售后应收总额</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('应收账款－厂家应收总额')">厂家应收总额</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsSix">
		        	资产管理总览 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsSix" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('资产管理总览－总冻结资本')">总冻结资本</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('资产管理总览－总冻结变动资本')">总冻结变动资本</a>
		                    </li>
		                    <li >
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('资产管理总览－总冻结固定资本')">总冻结固定资本</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        <div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsSeven">
		        	售后总览 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsSeven" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
                        	<li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('售后总览-月均经销商售后销售额')">月均经销商售后销售额</a>
		                    </li>
		                    <li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('售后总览-月均经销商售后毛利')">月均经销商售后毛利</a>
		                    </li>
		                    <li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('售后总览-月均经销商售后费用')">月均经销商售后费用</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsEight">
		        	维修部 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsEight" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
                        	<li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('维修部-月均经销商维修部收入')">月均经销商维修部收入</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsNine">
		        	备件部 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsNine" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
                        	<li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('备件部-月均经销商备件部收入')">月均经销商备件部收入</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsTen">
		        	钣喷部 <i class="icon-chevron-right  pull-right"></i>
		        </a>
            </div>
            <div id="collapsTen" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div style="margin-left:30px">
                        <ul style="list-style:none;margin-bottom: 0px;width:160px" class="nav nav-pills nav-stacked">
                        	<li>
		                        <a href="#" onclick="event.preventDefault ? event.preventDefault() : event.returnValue = false;" ng-click="goto('钣喷部-月均经销商钣喷部收入')">月均经销商钣喷部收入</a>
		                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
