<div ng-include src="'partials/branch/header.html'"></div>

<div class="container" style="padding-top:95px">
    <div class="row-fluid">
        <div class="span2">
            <div ng-include src="'partials/branch/nav.html'" onload="bindEvent()"></div>
        </div>

        <div class="span9" style="padding-left: 65px">
            <legend>{{itemName}} <i class="icon-angle-right" ng-show="depat"></i> {{depat}}
                <div class="pull-right">
                    <input class="btn btn-info btn-small" id="datepicker" style="width: 100px">
                </div>
            </legend>
            <div ng-include src="subpage"></div>
        </div>

    </div>
</div>