<div ng-controller="jingyingCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div>
        <div d20 list="generalSales" title="人工费用" category=3 amountChange="amountChange"
             autoSaveGeneralRevenue="autoSaveGeneralRevenue" summary="generalSummary"></div>

        <div d20 list="generalSales" title="固定费用" category=5 amountChange="amountChange"
             autoSaveGeneralRevenue="autoSaveGeneralRevenue" summary="generalSummary"></div>

        <div d20 list="generalSales" title="销售费用" category=2 amountChange="amountChange"
             autoSaveGeneralRevenue="autoSaveGeneralRevenue" summary="generalSummary"></div>

        <div d20 list="generalSales" title="半固定费用" category=4 amountChange="amountChange"
             autoSaveGeneralRevenue="autoSaveGeneralRevenue" summary="generalSummary"></div>

    </div>
</div>
