<div ng-controller="kucunCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20a list="accountReceivables" category=5
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=6
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=7
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=8
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=9
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

</div>
</div>