<div ng-controller="kucunCtrl">
    <div>
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20a list="accountReceivables" category=1 type="kucun"
         autoSaveAccountReceivables="autoSaveAccount    Receivables"></div>

    <div d20a list="accountReceivables" category=2 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=3 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=10 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=11 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

</div>
</div>