<div ng-controller="kucunCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20a list="accountReceivables" category=1
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=2
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=3
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=10
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=11
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

</div>
</div>