<div ng-controller="kucunCtrl">
    <div>
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20a list="accountReceivables" category=5 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=6 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=7 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=8 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=9 type="kucun"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

</div>
</div>