<div ng-controller="lirunCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20s list="sales" title="二手车零售" category=4 amountChange="amountChange"
         autoSaveSalesRevenue="autoSaveSalesRevenue" summary="salesSummary"></div>

    <div d20s list="sales" title="二手车其它收入" category=9 amountChange="amountChange"
         autoSaveSalesRevenue="autoSaveSalesRevenue" summary="salesSummary"></div>

    <div d20s list="sales" title="附加产品业务" category=3 amountChange="amountChange"
         autoSaveSalesRevenue="autoSaveSalesRevenue" summary="salesSummary"></div>

</div>