<div ng-controller="lirunCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20s list="sales" title="新车零售" category=8 amountChange="amountChange"
         autoSaveSalesRevenue="autoSaveSalesRevenue" summary="salesSummary"></div>

    <div d20s list="sales" title="附加产品业务" category=3 amountChange="amountChange"
         autoSaveSalesRevenue="autoSaveSalesRevenue" summary="salesSummary"></div>

    <div d20v list="vehicleRevenues" title="新轿车零售" category=1 amountChange="amountChange"
         autoSaveVehivleRevenue="autoSaveVehivleRevenue" summary="vehicleSummary"></div>

    <div d20v list="vehicleRevenues" title="新货车零售" category=2 amountChange="amountChange"
         autoSaveVehivleRevenue="autoSaveVehivleRevenue" summary="vehicleSummary"></div>

</div>