<div ng-controller="renyuanCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20e title="维修部" list="employeeFees" category=4 autoSaveFee="autoSaveFee"></div>

    <div d20es title="维修部 (维修部 - 当月数据)" list="employeeFeeSummary" category=4
         autoSaveFeeSummary="autoSaveFeeSummary"></div>

    <div d20e title="钣喷部" list="employeeFees" category=6 autoSaveFee="autoSaveFee"></div>

    <div d20es title="钣喷部 - 当月数据" list="employeeFeeSummary" category=6 autoSaveFeeSummary="autoSaveFeeSummary"></div>

</div>