<div ng-controller="zhangkuanCtrl">
    <div >
        <span ng-class="autoSaveClass">{{autoSaveTime}}</span>
    </div>

    <div d20a list="accountReceivables" category=1 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=2 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>


    <div d20a list="accountReceivables" category=3 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=4 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>


    <div d20a list="accountReceivables" category=5 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>


    <div d20a list="accountReceivables" category=6 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>


    <div d20a list="accountReceivables" category=7 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>

    <div d20a list="accountReceivables" category=8 calSummary="calSummary"
         autoSaveAccountReceivables="autoSaveAccountReceivables"></div>
</div>
</div>