<div id="report_div" class="span9 row-fluid" style="padding-left: 60px"
     ng-controller="keyAccountReceivablePercentageCtrl">
    <div class="span11">
        <div>
            <div id="date_div" style="padding-bottom: 10px">
                <div>
                    <select ng-options="o.name for o in yearOptions" ng-model="selectedYearOption"
                            ng-change="selectReportYear()"></select>
                    <select ng-options="o.name for o in monthOptions" ng-model="selectedMonthOption"
                            ng-change="selectReportMonth()"></select>
                </div>
            </div>

            <div style="padding-bottom: 10px">
                <button class="btn btn-success" type="button" ng-click="toggleFullScreen();isFullScrren=!isFullScrren">
                    {{isFullScrren? '取消全屏': '全屏'}}
                </button>
                <button class="btn btn-success" type="button" ng-click="showChart()">{{report_chart_button_text}}
                </button>
            </div>
        </div>

        <div id="chartsDisplay">
            <div id="report_chart" ng-show="report_chart_display">
            </div>
        </div>

        <div>
            <table id="report_list"></table>
            <div id="report_pager"></div>
        </div>

    </div>

</div>