<div class="row-fluid" ng-controller="enableUserCtrl">

    <div class="span9">
        <div class="msgClass">
            <span ng-show="msg=='success'">激活用户成功！</span>
            <span ng-show="msg=='PERMISSION_DENIED'">对不起，您没有权限激活此用户</span>
            <span ng-show="msg=='unknown user name'">对不起，您激活的用户不存在</span>
            <span ng-show="msg=='failed'">激活用户失败</span>
        </div>
        <form name="the_form" class="form-horizontal" style="padding-top: 20px">
            <div class="control-group">
                <label class="control-label" for="username">用户角色</label>
                <div class="controls">
                    <div class="text-warning"
                         ng-show="the_form.role.$dirty && the_form.role.$invalid">
                        <small class="text-warning"
                               ng-show="!username">
                            用户名不能为空
                        </small>
                    </div>
                    <input  type="text" name="role" id="username" ng-model="username" required placeholder="请输入用户名...">
                </div>
            </div>
            <div class="control-group">
                <div class="controls" style="padding-left: 165px">
                    <button type="submit" ng-disabled="the_form.$invalid"  class="btn" ng-click="enableUser()">提交</button>
                </div>
            </div>
        </form>
    </div>

</div>