<div scroll-nav>
<form name="vehivle">
<section>
    <h4 class="machine_acclount_header" ng-click="hideCheliang=!hideCheliang">车辆资料</h4>

    <div class="row-fluid" ng-if="!hideCheliang">
        <table class="table machine_account_table">
            <tr>
                <td>*合同号</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           required
                           type="text"  ng-model="data['contractNo']"/>
                </td>
                <td>车型</td>

                <td>
                    <select
                            ng-disabled="userService.validateRoleHead()" ng-model="data['model']"
                            ng-options="model as model for model in metadata['model']">
                    </select>
                </td>
            </tr>
            <tr>
                <td>型号</td>

                <td>
                    <select
                            ng-disabled="userService.validateRoleHead()" ng-model="data['type']"
                            ng-options="type as type for type in metadata['type']">
                    </select>
                </td>
                <td>颜色</td>

                <td>
                    <select
                            ng-disabled="userService.validateRoleHead()" ng-model="data['color']"
                            ng-options="color as color for color in metadata['color']">
                    </select>
                </td>
            </tr>
            <tr>
                <td>车牌号</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['lpNumber']"/>
                </td>
                <td>车架号</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['frameNo']"/>
                </td>
            </tr>
            <tr>
                <td>主机厂扣款日期</td>

                <td>
                    <input placeholder="YYYY-MM-DD, 例：2014-01-02" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
                           ng-disabled="userService.validateRoleHead()"
                           type="text" ng-model="data['manufacturerDebitDate']"/>
                </td>
                <td>入库日期</td>
                <td>
                    <input placeholder="YYYY-MM-DD, 例：2014-01-02" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
                           ng-disabled="userService.validateRoleHead()"
                           type="text" ng-model="data['warehousingDate']"/>
                </td>
            </tr>
            <tr>
                <td>*销售日期</td>

                <td>
                    <input placeholder="YYYY-MM-DD, 例：2014-01-02" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/" required
                           ng-disabled="userService.validateRoleHead()"
                           type="text" ng-model="data['saleDate']"/>
                </td>
                <td>指导价格</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['guidingPrice']"/>
                </td>
            </tr>
            <tr>
                <td>销售顾问</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['salesConsultant']"/>
                </td>
                <td>客户性质</td>

                <td>
                    <select
                            ng-disabled="userService.validateRoleHead()" ng-model="data['customerType']"
                            ng-options="customerType as customerType for customerType in metadata['customerType']">
                    </select>
                </td>
            </tr>
            <tr>
                <td>客户姓名</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['customerName']"/>
                </td>
                <td>身份证号或组织机构代码证号</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()"
                           type="text"  ng-model="data['identificationNo']"/>
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideFukuan=!hideFukuan">付款资料</h4>

    <div ng-if="!hideFukuan">
        <table class="table machine_account_table">
            <tr>
                <td>车辆销售发票额</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['vehicleInvoiceAmount']"/>
                </td>
                <td>精品发票额</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['accessoryInvoiceAmount']"/>
                </td>
            </tr>
            <tr>
                <td>销售加价</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['vehicleMarkup']"/>
                </td>
                <td>发票类型</td>

                <td>
                    <select ng-disabled="userService.validateRoleHead()" ng-model="data['invoiceType']"
                            ng-options="invoiceType as invoiceType for invoiceType in metadata['invoiceType']">
                    </select>
                </td>
            </tr>
            <tr>
                <td>开票日期</td>
                <td>
                    <input placeholder="YYYY-MM-DD, 例：2014-01-02" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/"
                           ng-disabled="userService.validateRoleHead()" type="text" ng-model="data['invoiceDate']"/>
                </td>
                <td>已付订金</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['paidSubscription']"/>
                </td>
            </tr>
            <tr>
                <td>已付剩余货款</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['paidRemainder']"/>
                </td>
                <td>退款</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['refund']"/>
                </td>
            </tr>
            <tr>
                <td>POS</td>

                <td>
                    <select ng-disabled="userService.validateRoleHead()" ng-model="data['posBank']"
                            ng-options="posBank as posBank for posBank in metadata['posBank']">
                    </select>
                </td>
                <td>POS手续费</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['posCharge']"/>
                </td>
            </tr>
            <tr>
                <td>现金</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['cash']"/>
                </td>
                <td>支票</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['cheque']"/>
                </td>
            </tr>
            <tr>
                <td>转账</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['transfer']"/>
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideXincheLirun=!hideXincheLirun">新车裸车利润</h4>

    <div ng-if="!hideXincheLirun">
        <table class="table machine_account_table">
            <tr>
                <td>裸车营销收入</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['vehicleSalesRevenue']"/>
                </td>
                <td>裸车成本</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['vehicleSalesCost']"/>
                </td>
            </tr>
            <tr>

                <td>毛利</td>

                <td>
                    {{summary['vehicleMargin'] = data['vehicleSalesRevenue'] - data['vehicleSalesCost']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideXinche=!hideXinche">二手车利润</h4>

    <div class="row-fluid" ng-if="!hideXinche">
        <table class="table machine_account_table">
            <tr>
                <td>旧车收购价或手续费</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['usedVehicleCharge']"/>
                </td>
                <td>旧车翻新成本</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['usedVehicleCost']"/>
                </td>
            </tr>
            <tr>
                <td>旧车卖出价</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['usedVehicleSellingPrice']"/>
                </td>
                <td>渠道商</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['distributor']"/>
                </td>
            </tr>
            <tr>
                <td>主机厂补贴</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['usedVehicleManufacturerSubsidy']"/>
                </td>
                <td>旧车进销差（毛利）</td>

                <td>
                    {{data['usedVehicleSellingPrice'] - data['usedVehicleCost'] - data['usedVehicleCharge']}}
                </td>
            </tr>
            <tr>
                <td>以旧换新总毛利</td>

                <td>
                    {{summary['ershouMargin'] = parseNumber(data['usedVehicleSellingPrice']) +
                    parseNumber(data['usedVehicleManufacturerSubsidy']) - data['usedVehicleCost'] -
                    data['usedVehicleCharge']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideJingpin=!hideJingpin">汽车精品（含改装）</h4>

    <div ng-if="!hideJingpin">
        <table class="table machine_account_table">
            <tr>
                <td>精品收入</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['accessorySalesRevenue']"/>
                </td>
                <td>客户购买部分</td>

                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['accessorySalesCostBuyerPart']"/>
                </td>

                <td>赠送精品部分</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['accessorySalesCostGiftPart']"/>
                </td>
            </tr>
            <tr>

                <td>毛利（含赠送）</td>

                <td>
                    {{summary['AT5'] = data['accessorySalesRevenue'] - data['accessorySalesCostBuyerPart'] - data['accessorySalesCostGiftPart']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideBaoxian=!hideBaoxian">新车保险</h4>

    <div class="row-fluid" ng-if="!hideBaoxian">
        <table class="table machine_account_table">
            <tr>
                <td>保险返点利润</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['insuranceRebateMargin']"/>
                </td>
                <td>礼包赠送保险部分</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['insuranceCost']"/>
                </td>
            </tr>
            <tr>
                <td>保险机构</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['insuranceAgency']"/>
                </td>
                <td>毛利（含赠送）</td>
                <td>
                    {{summary['baoxianMargin'] = data['insuranceRebateMargin'] - data['insuranceCost']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideShangpai=!hideShangpai">汽车上牌</h4>

    <div class="row-fluid" ng-if="!hideShangpai">
        <table class="table machine_account_table">
            <tr>
                <td>上牌收入</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['lpRevenue']"/>
                </td>
                <td>上牌成本</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['lpCost']"/>
                </td>
            </tr>
            <tr>
                <td>上牌毛利</td>
                <td>
                    {{summary['shangpaiMargin'] = data['lpRevenue'] - data['lpCost']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideFenqi=!hideFenqi">分期付款</h4>

    <div class="row-fluid" ng-if="!hideFenqi">
        <table class="table machine_account_table">
            <tr>
                <td>手续费（来自客户）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['installmentCharge']"/>
                </td>
                <td>金融公司佣金（来自金融公司）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['fcCommission']"/>
                </td>
            </tr>
            <tr>
                <td>补贴（来自主机厂）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['installmentManufacturerSubsidy']"/>
                </td>
                <!--<td>金融公司佣金（来自金融公司）</td>-->
                <!--<td>-->
                    <!--<input ng-disabled="userService.validateRoleHead()" type="text" -->
                           <!--ng-model="data['fcCommission']"/>-->
                <!--</td>-->
            </tr>
            <tr>
                <td>其他</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['installmentOthers']"/>
                </td>
                <td>分期机构</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['installmentAgency']"/>
                </td>
            </tr>
            <tr>
                <td>分期利润合计</td>
                <td>
                    {{summary['fenqiMargin'] = parseNumber(data['installmentCharge']) +
                    parseNumber(data['fcCommission'])
                    + parseNumber(data['installmentManufacturerSubsidy'])}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideYanbao=!hideYanbao">延保</h4>

    <div class="row-fluid" ng-if="!hideYanbao">
        <table class="table machine_account_table">
            <tr>
                <td>延保收入</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['extendedWarrantyRevenue']"/>
                </td>
                <td>延保成本</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['extendedWarrantyCost']"/>
                </td>
            </tr>
            <tr>
                <td>延保利润</td>
                <td>
                    {{summary['yanbaoMargin'] = data['extendedWarrantyRevenue'] - data['extendedWarrantyCost']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideRongzi=!hideRongzi">融资租赁</h4>

    <div class="row-fluid" ng-if="!hideRongzi">
        <table class="table machine_account_table">
            <tr>
                <td>利润</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['financialLeasingMargin']"/>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideYanbao=!hideYanbao">出库费</h4>

    <div class="row-fluid" ng-if="!hideYanbao">
        <table class="table machine_account_table">
            <tr>
                <td>利润</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['exitWarehouseMargin']"/>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideJiancha=!hideJiancha">检查费</h4>

    <div class="row-fluid" ng-if="!hideJiancha">
        <table class="table machine_account_table">
            <tr>
                <td>利润</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['inspectionMargin']"/>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideHuiyuan=!hideHuiyuan">收费会员卡</h4>

    <div class="row-fluid" ng-if="!hideHuiyuan">
        <table class="table machine_account_table">
            <tr>
                <td>会员卡收入</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['memberCardRevenue']"/>
                </td>
                <td>会员卡成本</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['memberCardCost']"/>
                </td>
            </tr>
            <tr>
                <td>会员卡利润</td>
                <td>
                    {{summary['huiyuanMargin'] = data['memberCardRevenue'] - data['memberCardCost']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideQita=!hideQita">其他利润</h4>

    <div class="row-fluid" ng-if="!hideQita">
        <table class="table machine_account_table">
            <tr>
                <td>在新车销售方面的其他利润</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['otherMargin']"/>
                </td>
                <td></td>
                <td>
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideLibao=!hideLibao">其他赠送礼包方面</h4>

    <div class="row-fluid" ng-if="!hideLibao">
        <table class="table machine_account_table">
            <tr>
                <td>售后代金券（工时方面）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['postSalesVoucherManHourPart']"/>
                </td>
                <td>售后代金券（美容方面）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['postSalesVoucherDecorationPart']"/>
                </td>
            </tr>
            <tr>
                <td>售后代金券（精品方面）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['postSalesVoucherAccessoryPart']"/>
                </td>
                <td>加油卡</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['fuelCard']"/>
                </td>
            </tr>
            <tr>
                <td>汽油</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['gasoline']"/>
                </td>
                <td>其他方面</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['otherGift']"/>
                </td>
            </tr>
            <tr>
                <td>小计</td>
                <td>
                    {{summary['zengsongMargin'] = parseNumber(data['postSalesVoucherManHourPart']) +
                    parseNumber(data['postSalesVoucherDecorationPart'])
                    + parseNumber(data['postSalesVoucherAccessoryPart']) + parseNumber(data['fuelCard'])
                    + parseNumber(data['gasoline']) + parseNumber(data['otherGift'])}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideKucun=!hideKucun">库存及融资信贷成本</h4>

    <div class="row-fluid" ng-if="!hideKucun">
        <table class="table machine_account_table">
            <tr>
                <td>库存时间（天）</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['inventoryDays']"/>
                </td>
                <td>融资利率</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['financingRate']"/>
                </td>
            </tr>
            <tr>
                <td>管理费</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['managementFee']"/>
                </td>
                <td>资金利息</td>
                <td>
                    {{parseNumber(data['inventoryDays']) * parseNumber(data['financingRate'])}}
                </td>
            </tr>
            <tr>
                <td>小计</td>
                <td>
                    {{summary['rongziMargin'] = parseNumber(data['inventoryDays']) * parseNumber(data['financingRate'])
                    + parseNumber(data['interests']) + parseNumber(data['managementFee'])}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideFanli=!hideFanli">销售返利</h4>

    <div class="row-fluid" ng-if="!hideFanli">
        <table class="table machine_account_table">
            <tr>
                <td>月度返利</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['monthlyRebate']"/>
                </td>
                <td>季度返利</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['quarterlyRebate']"/>
                </td>
            </tr>
            <tr>
                <td>满意度返利</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['satisfactionRebate']"/>
                </td>
                <td>提车返利</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['pickupRebate']"/>
                </td>
            </tr>
            <tr>
                <td>竞价补贴</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['biddingSubsidy']"/>
                </td>
                <td>终端销售奖金</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['terminalSalesBonus']"/>
                </td>
            </tr>
            <tr>
                <td>其他返利</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['otherRebate']"/>
                </td>
                <td>实际到账返利调整额</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['rebateAdjustment']"/>
                </td>
            </tr>
            <tr>
                <td>返利合计</td>
                <td>
                    {{summary['fanliSummary'] = parseNumber(data['monthlyRebate']) +
                    parseNumber(data['quarterlyRebate']) + parseNumber(data['satisfactionRebate'])
                    + parseNumber(data['pickupRebate']) + parseNumber(data['biddingSubsidy']) +
                    parseNumber(data['terminalSalesBonus'])
                    + parseNumber(data['otherRebate']) + parseNumber(data['rebateAdjustment'])}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideGuwen=!hideGuwen">销售顾问提成</h4>

    <div class="row-fluid" ng-if="!hideGuwen">
        <table class="table machine_account_table">
            <tr>
                <td>整车销售提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['vehiclePushMoney']"/>
                </td>
                <td>精品提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['accessoryPushMoney']"/>
                </td>
            </tr>
            <tr>
                <td>保险提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['insurancePushMoney']"/>
                </td>
                <td>上牌提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['lpPushMoney']"/>
                </td>
            </tr>
            <tr>
                <td>分期提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['installmentPushMoney']"/>
                </td>

                <td>延保提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['extendedWarrantyPushMoney']"/>
                </td>
            </tr>
            <tr>
                <td>融资租赁提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['financialLeasingPushMoney']"/>
                </td>

                <td>收费会员卡提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['memberCardPushMoney']"/>
                </td>
            </tr>
            <tr>
                <td>置换提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['exchangePushMoney']"/>
                </td>

                <td>其他提成</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['otherPushMoney']"/>
                </td>
            </tr>
            <tr>
                <td>销售顾问因流程或过失的扣减部分</td>
                <td>
                    <input ng-disabled="userService.validateRoleHead()" type="text" 
                           ng-model="data['pushMoneyDeduction']"/>
                </td>

                <td>总提成-扣减部分</td>
                <td>
                    {{summary['guwenSummary'] = parseNumber(data['vehiclePushMoney']) +
                    parseNumber(data['accessoryPushMoney']) + parseNumber(data['insurancePushMoney'])
                    + parseNumber(data['lpPushMoney']) + parseNumber(data['installmentPushMoney']) +
                    parseNumber(data['extendedWarrantyPushMoney'])
                    + parseNumber(data['financialLeasingPushMoney']) + parseNumber(data['memberCardPushMoney']) +
                    parseNumber(data['exchangePushMoney'])
                    + parseNumber(data['otherPushMoney']) - data['pushMoneyDeduction']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h4 class="machine_acclount_header" ng-click="hideZuizhong=!hideZuizhong">最终利润构成</h4>

    <div class="row-fluid" ng-if="!hideZuizhong">
        <table class="table machine_account_table">
            <tr>
                <td>整车进销总利润</td>
                <td>
                    {{summary['vehicleMargin']}}
                </td>
                <td>二手车利润</td>
                <td>
                    {{summary['ershouMargin']}}
                </td>
            </tr>
            <tr>
                <td>精品利润</td>
                <td>
                    {{summary['jingpinMargin']}}
                </td>
                <td>保险利润</td>
                <td>
                    {{summary['baoxianMargin']}}
                </td>
            </tr>
            <tr>
                <td>上牌利润</td>
                <td>
                    {{summary['shangpaiMargin']}}
                </td>

                <td>分期利润</td>
                <td>
                    {{summary['fenqiMargin']}}
                </td>
            </tr>
            <tr>
                <td>延保利润</td>
                <td>
                    {{summary['yanbaoMargin']}}
                </td>

                <td>会员卡利润</td>
                <td>
                    {{summary['huiyuanMargin']}}
                </td>
            </tr>
            <tr>
                <td>融资租赁利润</td>
                <td>
                    {{parseNumber(data['financialLeasingMargin'])}}
                </td>

                <td>出库与检测利润</td>
                <td>
                    {{summary['chukuMargin'] =
                    parseNumber(data['exitWarehouseMargin']) + parseNumber(data['inspectionMargin'])}}
                </td>
            </tr>
            <tr>
                <td>其他利润</td>
                <td>
                    {{parseNumber(data['otherMargin'])}}
                </td>

                <td>减项－赠送总成本</td>
                <td>
                    {{summary['zengsongMargin']}}
                </td>
            </tr>
            <tr>
                <td>减项－库存及融资成本</td>
                <td>
                    {{summary['rongziMargin']}}
                </td>

                <td>总利润－不含返利</td>
                <td>
                    {{summary['zonglirunWufanli'] = summary['vehicleMargin'] + summary['ershouMargin'] +
                    summary['jingpinMargin']
                    + summary['baoxianMargin']
                    + summary['shangpaiMargin'] + summary['fenqiMargin'] + summary['yanbaoMargin'] +
                    summary['huiyuanMargin']
                    + data['financialLeasingMargin'] + summary['chukuMargin'] + summary['otherMargin']
                    - summary['zengsongMargin'] - summary['rongziMargin']}}
                </td>
            </tr>
            <tr>
                <td>加项－返利</td>
                <td>
                    {{summary['fanliSummary']}}
                </td>

                <td>总利润－含返利</td>
                <td>
                    {{summary['zonglirunFanli'] = parseNumber(summary['lirunWufanli']) +
                    parseNumber(summary['fanliSummary'])}}
                </td>
            </tr>
            <tr>
                <td>减项－顾问提成</td>
                <td>
                    {{summary['guwenSummary']}}
                </td>

                <td>最终总利润－含返利并剔除提成后的最终利润</td>
                <td>
                    {{summary['zonglirunFanli'] + summary['guwenSummary']}}
                </td>
            </tr>
        </table>
    </div>
</section>

<div class="pull-right">
    <button class="btn btn-success" type="button" ng-click="save()"
            ng-disabled="vehivle.$invalid" ng-if="!userService.validateRoleHead()">保存本条台账
    </button>
</div>
</form>
</div>